---
import SectionContainer from '../ui/SectionContainer.astro'
import TextContainer from '../ui/TextContainer.astro'
import ZoomInBanner from '../ui/ZoomInBanner.astro'
import testImage from '@public/images/products/1_1.webp'
const images = {
  topLeft: testImage.src,
  bottomLeft: testImage.src,
  right: testImage.src,
}

const texts = {
  title: 'Titulo',
  ctaTopLeft: 'Comprá Todo 1',
  ctaBottomLeft: 'Comprá Todo 2',
  ctaRight: 'Comprá Todo 3',
}
---

<SectionContainer variant="darker">
  <TextContainer>
    <h2>{texts.title}</h2>
  </TextContainer>
  <div class="grid grid-cols-3 row-auto gap-x-4 gap-y-12 h-[1000px]">
    <ZoomInBanner
      imageUrl={images.topLeft}
      alt="banner"
      href="/tienda"
    >
      <h3
        class="group-hover:underline group-hover:text-amatista dark:text-white"
      >
        {texts.ctaTopLeft}
      </h3>
    </ZoomInBanner>

    <ZoomInBanner
      imageUrl={images.right}
      alt="banner"
      href="/tienda"
      class="col-span-2 row-span-2"
    >
      <h3
        class="group-hover:underline group-hover:text-amatista dark:text-white"
      >
        {texts.ctaRight}
      </h3>
    </ZoomInBanner>

    <ZoomInBanner
      imageUrl={images.bottomLeft}
      alt="banner"
      href="/tienda"
      ><h3
        class="group-hover:underline group-hover:text-amatista dark:text-white"
      >
        {texts.ctaBottomLeft}
      </h3>
    </ZoomInBanner>
  </div>
</SectionContainer>
