---
import TextContainer from '../ui/TextContainer.astro'
import SectionContainer from '../ui/SectionContainer.astro'
import BuyButton from '../ui/BuyButton.astro'
import SpreadImages from '../ui/SpreadImages.astro'
import testImage from '../../../public/images/products/1_1.webp'
const images = {
  center: testImage.src,
  leftTop: testImage.src,
  leftBottom: testImage.src,
  rightTop: testImage.src,
  rightBottom: testImage.src,
}
const texts = {
  title: 'Construyendo Juntas',
  subtitle: 'Comunidad',
  content:
    'Nos unimos para crear una comunidad donde creamos juntas un mundo, tanto en su forma tangible como energética.',
  cta: 'Conocé más',
}
---

<SectionContainer>
  <div class="flex items-center">
    <div>
      <TextContainer class="mb-12">
        <h3 class="tracking-wider uppercase">
          {texts.subtitle}
        </h3>
        <h2 class="max-w-xs">{texts.title}</h2>
        <p class="max-w-lg mt-4 tracking-wide">
          {texts.content}
        </p>
      </TextContainer>
      <BuyButton href="/comunidad">{texts.cta}</BuyButton>
    </div>
    <div>
      <SpreadImages images={images} />
    </div>
  </div>
</SectionContainer>
