---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import Separator from "@/components/Separator.astro"
import ContactButton from "@/components/ContactButton.astro"

import sectionImage1 from "@public/optimized/envios_sec_1.webp"
import sectionImage2 from "@public/optimized/envios_sec_4.webp"
import sectionImage3 from "@public/optimized/envios_sec_5.webp"
import sectionImage4 from "@public/optimized/envios_sec_3.webp"
import sectionImage5 from "@public/optimized/envios_sec_2.webp"
import sectionHero from "@public/optimized/envios_hero.webp"
---

<Layout>
  <SectionContainer variant="darker">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div>
        <div
          style={`background-image: url(${sectionImage1.src});`}
          class="w-full aspect-square bg-cover bg-center bg-no-repeat"
        >
        </div>
      </div>
      <div class="py-4 md:px-12">
        <TextContainer class="mb-20">
          <h2 class="text-center md:text-left">
            ASÍ EMPAQUETAMOS NUESTROS PEDIDOS SIN PLÁSTICO
          </h2>
          <p>
            A la hora de eligir los materiales se nos presentaron muchos
            desafíos.
          </p>
          <p>
            ¿Con que podíamos cerrar las cajas? <br /> ¿Qué material utilizar como
            relleno en los envíos más delicados?
          </p>
          <p>
            Por suerte cada día hay más personas preocupadas por reducir la
            cantidad de plástico del Planeta y encontrar soluciones a estos
            problemas fue más sencillo de lo que en un principio pensamos.
          </p>
        </TextContainer>
        <div class="flex justify-center md:justify-start">
          <ContactButton>Contactame</ContactButton>
        </div>
      </div>
    </div>
  </SectionContainer>

  <Separator />

  <SectionContainer variant="light">
    <div class="grid grid-cols-1 md:grid-cols-5">
      <div class="order-2 md:order-1 md:col-span-2 py-4 md:px-12">
        <TextContainer>
          <h2 class="text-center md:text-left">Nuestros empaques</h2>
          <p>
            Todos los materiales que Amatista utiliza en sus envíos son
            reciclables, biodegradables y sin plástico.
          </p>
          <p>
            Un packaging ecológico muy sencillo. Su sencillez lo hace especial.
          </p>
          <p>
            Una vez más demostramos que lo sostenible también puede ser bonito.
          </p>
        </TextContainer>
      </div>
      <div class="order-1 md:order-2 md:col-span-3 ">
        <div class="grid grid-cols-5 grid-rows-2 gap-4">
          <div class="w-full aspect-square col-span-2">
            <div
              style={`background-image: url(${sectionImage2.src});`}
              class="w-full h-full bg-cover bg-center bg-no-repeat"
            >
            </div>
          </div>
          <div class="w-full h-full row-span-2 col-span-3">
            <div
              style={`background-image: url(${sectionImage3.src});`}
              class="w-full h-full bg-cover bg-center bg-no-repeat"
            >
            </div>
          </div>
          <div class="w-full aspect-square col-span-2">
            <div
              style={`background-image: url(${sectionImage4.src});`}
              class="w-full h-full bg-cover bg-center bg-no-repeat"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionContainer>

  <SectionContainer variant="light">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div>
        <div
          style={`background-image: url(${sectionImage5.src});`}
          class="w-full aspect-square bg-cover bg-center bg-no-repeat"
        >
        </div>
      </div>
      <div class="py-4 md:px-12">
        <TextContainer>
          <h2 class="text-center md:text-left">
            TENEMOS EN CUENTA TODOS LOS DETALLES
          </h2>
          <p>
            Si has sido o vas a ser cliente de Amatista te animamos aque
            reutilices, compostes o recicles nuestro packaging.
          </p>

          <p>
            Nuestras bolsas están diseñadas para minimizar nuestro impacto
            ambiental. Utilizamos materiales reciclados y biodegradables en cada
            paquete, eliminando plásticos innecesarios.
          </p>

          <p>
            Creemos en la importancia de cada pequeña acción para proteger
            nuestras tierras.
          </p>
          <p>
            Al elegirnos, no solo obtienes prendas de calidad, sino que también
            apoyas prácticas comerciales responsables y sostenibles.
          </p>
          <p>
            Únete a nuestra comunidad de actos consciente y haz tu parte por un
            futuro más verde.
          </p>
        </TextContainer>
      </div>
    </div>
  </SectionContainer>

  <section class="h-screen w-full relative">
    <div
      class="absolute w-full h-full top-0 left-0 bg-cover bg-center bg-no-repeat"
      style={`background-image: url(${sectionHero.src});`}
    >
    </div>
    <div
      class="absolute top-0 right-1/2 translate-x-1/2 md:translate-x-0 md:right-20 h-full"
    >
      <div class="flex items-center h-full">
        <div class="bg-raw_white/70 p-12 h-5/6 flex flex-col justify-center">
          <h2
            class="text-4xl md:text-6xl max-w-md mb-20 font-bold text-black leading-tight"
          >
            Valoramos cada prenda por su historia
          </h2>
          <div class="flex justify-center">
            <ContactButton variant="black">contactame</ContactButton>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
