---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import Logo from "@/icons/Logo.astro"
import ContactButton from "@/components/ContactButton.astro"

import heroImg from "@public/optimized/comunidad_hero.webp"
import cupon_bg_img from "@public/optimized/cupon_bg.webp"
import brand_left from "@public/optimized/brand_photography.webp"
import brand_center from "@public/optimized/brand_tejidos.webp"
import comunidad_sec_1 from "@public/optimized/comunidad_sec_1.webp"

const alliance = [
  {
    logo: brand_left.src,
    name: "Valentina Pereira",
    instagramTag: "@valeepereyraphotos",
    href: "https://www.instagram.com/valeepereyraphotos/",
  },
  {
    logo: brand_center.src,
    name: "Kardia Tejidos",
    instagramTag: "098778638 - Rosario",
    href: "https://api.whatsapp.com/send?phone=59098778638",
  },
]
---

<Layout>
  <!-- Hero -->
  <section>
    <div class="relative z-0">
      <div
        style={`background-image: url(${heroImg.src});`}
        class="w-full h-screen bg-center bg-no-repeat bg-cover"
      >
      </div>
      <span class="absolute top-0 left-0 w-full h-screen bg-black/50"></span>
      <div class="absolute top-0 left-0 w-full h-screen">
        <div
          class="flex flex-col items-center justify-center h-full text-center"
        >
          <h2 class="text-3xl font-bold text-raw_white md:text-5xl">
            REVOLUCIONANDO LA CULTURA
          </h2>
          <h2 class="text-3xl font-bold text-raw_white md:text-5xl">
            COLABORATIVA MIENTRAS
          </h2>
          <h2 class="mb-6 text-3xl font-bold text-raw_white md:text-5xl">
            <strong class="text-amatista">CO-CREAMOS</strong>
          </h2>

          <p
            class="max-w-sm text-xl font-normal text-raw_white md:text-3xl font-roboto md:max-w-fit"
          >
            UNA VISIÓN COMPARTIDA DEL FUTURO PARA LOGRAR NUESTRA
          </p>
          <p
            class="mb-12 text-xl font-normal text-raw_white md:text-3xl font-roboto"
          >
            <strong class="text-amatista">SOSTENIBILIDAD</strong>
          </p>

          <ContactButton variant="white">contactame</ContactButton>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner -->

  <SectionContainer>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
      <div>
        <div
          style={`background-image: url(${comunidad_sec_1.src});`}
          class="w-full bg-center bg-cover aspect-square"
        >
        </div>
      </div>

      <div class="place-content-center">
        <TextContainer>
          <h2>Comunidad amatista</h2>
          <p>
            Nos unimos para formar una comunidad donde creamos juntas un mundo
            tanto tangible como energético.
          </p>
          <p>
            Aquí, la unión de mujeres trasciende las limitaciones, ofreciendo un
            espacio accesible para todos y todas. Nuestro enfoque se centra en
            un estilo de vida sostenible, minimalista, auténtico y unica,
            diseñada para personas de todos los estilos.
          </p>
          <p>
            ¡Bienvenidos a un lugar donde la belleza se encuentra en la
            diversidad y la autenticidad!
          </p>
        </TextContainer>
      </div>
    </div>
  </SectionContainer>

  <!-- Banner Cupones -->
  <SectionContainer>
    <TextContainer class="mb-12">
      <h2>¡Construyamos juntas una comunidad fuerte y solidaria!</h2>
      <div class="max-w-3xl mx-auto text-center">
        <p>Presenta nuestro cupón en las marcas asociadas y obtén descuentos exclusivos.<br>
          Apoya a emprendedoras nacionales y descubrí nuevos productos y servicios.
        </p>
      </div>
      <h3 class="text-center">¡Únete a la comunidad  en este emocionante viaje de colaboración y descubrimiento!</h3>
    </TextContainer>
    <div class="flex justify-center">
      <div class="relative w-[700px]">
        <div
          style={`background-image: url(${cupon_bg_img.src});`}
          class="w-full bg-center bg-cover aspect-video"
        >
        </div>
        <div class="absolute top-0 left-0 w-full h-full">
          <div class="grid grid-cols-2 px-4 py-8">
            <div class="w-full text-center justify-self-center place-content-center">
              <h3 class="mb-4 font-bold uppercase md:text-2xl text-golden">
                cupón de descuento
              </h3>
              <h2
                class="font-normal leading-tight uppercase md:mb-6 md:text-4xl text-amatista"
              >
                co-creamos alianzas
              </h2>
              <p class="font-bold md:text-7xl text-amatista">10%</p>
            </div>
            <div class="w-full p-4 place-content-center">
              <Logo variant="v" class="w-full aspect-square"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionContainer>
  <!-- End Banner Cupones -->

  <SectionContainer>
    <TextContainer>
      <h2 class="flex justify-center">Co-crea con Amatistas</h2>
    </TextContainer>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-x-12">
      {alliance.map(({ logo, name, instagramTag, href }) => (
        <div class="flex flex-col items-center">
          <img
            src={logo}
            alt={name}
            class="w-[300px] aspect-square object-cover object-center"
          />
          <h3 class="text-black dark:text-white">{name}</h3>
          <a
            href={href}
            class="text-black hover:underline hover:text-amatista dark:text-white"
            target="_blank"
          >
            <p class="uppercase">{instagramTag}</p>
          </a>
        </div>
      ))}
    </div>
  </SectionContainer>
</Layout>
