---
import TextContainer from '@/components/TextContainer.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import BuyButton from '@/components/BuyButton.astro'
import SpreadImages from '@/components/SpreadImages.astro'
import testImage from '@public/images/products/1_1.webp'
const images = {
  center: testImage.src,
  leftTop: testImage.src,
  leftBottom: testImage.src,
  rightTop: testImage.src,
  rightBottom: testImage.src,
}

const texts = {
  title: 'Construyendo Juntas',
  subtitle: 'Comunidad',
  content:
    'Nos unimos para crear una comunidad donde creamos juntas un mundo, tanto en su forma tangible como energética.',
  cta: 'Conocé más',
}

interface Texts {
  title: string
  subtitle: string
  content: string
  cta: string
}

// interface Props {
//   texts: Texts
// }

// const { texts } = Astro.props
---

<SectionContainer>
  <div
    class="flex flex-col items-center justify-center md:items-center md:flex-row"
  >
    <div>
      <TextContainer class="mb-12">
        <h3 class="tracking-wider uppercase">
          {texts.subtitle}
        </h3>
        <h2 class="max-w-xs">{texts.title}</h2>
        <p class="max-w-lg mt-4 tracking-wide">
          {texts.content}
        </p>
      </TextContainer>
      <BuyButton href="/comunidad">{texts.cta}</BuyButton>
    </div>
    <div class="order-first hidden md:order-last md:block">
      <SpreadImages images={images} />
    </div>
  </div>
</SectionContainer>
