---
import SectionContainer from '@/components/SectionContainer.astro'
import VerticalHero from '@/components/VerticalHero.astro'
import BuyButton from '@/components/BuyButton.astro'

import leftImg from "@public/optimized/home_delivery_3.webp"
import centerImg from "@public/optimized/home_delivery_2.webp"
import rightImg from "@public/optimized/home_delivery_1.webp"

const images = {
  banner1: leftImg.src,
  banner2: centerImg.src,
  banner3: rightImg.src,
}

interface Texts {
  title_1: string
  description_1: string
  title_2: string
  description_2: string
  title_3: string
  description_3: string
  cta: string
}

interface Props {
  texts: Texts
}

const { texts } = Astro.props
---

<SectionContainer>
  <a href="/comunidad">
    <div class="grid grid-cols-1 mb-12 md:grid-cols-3 gap-x-2">
      <VerticalHero
        title={texts.title_1}
        content={texts.description_1}
        image={images.banner1}
        class="bg-raw_white dark:bg-black"
      />

      <VerticalHero
        title={texts.title_2}
        content={texts.description_2}
        image={images.banner2}
        class="bg-raw_white dark:bg-black"
      />

      <VerticalHero
        title={texts.title_3}
        content={texts.description_3}
        image={images.banner3}
        class="bg-raw_white dark:bg-black"
      />
    </div>
  </a>

  <div class="flex justify-center">
    <BuyButton href="/contacto">{texts.cta}</BuyButton>
  </div>
</SectionContainer>
