---
import Layout from "@/layouts/Layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import TextContainer from "@/components/TextContainer.astro"
import ContactButton from "@/components/ContactButton.astro"

import amatistasImg from "@public/optimized/kit-sanacion-amatistas.webp"
import starterKitImage1 from "@public/optimized/kit_sanacion_1.webp"
import starterKitImage2 from "@public/optimized/kit_sanacion_2.webp"
import starterKitImage3 from "@public/optimized/kit_sanacion_3.webp"
import starterKitImage4 from "@public/optimized/kit_sanacion_4.webp"
import starterKitImage5 from "@public/optimized/kit_sanacion_5.webp"

const stepsStarterKit = [
  {
    title: "Encuentra tu Espacio Tranquilo",
    body: "Busca un lugar que te transmita paz y tranquilidad. Puede ser tu rincón favorito en casa o un espacio al aire libre donde te sientas cómoda, inspirada y relajada.",
    imageSrc: starterKitImage1.src,
    imageAlt: "",
  },
  {
    title: "Conéctate con la Energía Renovadora",
    body: "Tómate un momento para respirar profundamente y visualiza una luz blanca que te rodea, infundiéndote con energía fresca y positiva.",
    imageSrc: starterKitImage3.src,
    imageAlt: "",
  },
  {
    title: "Crea una Atmósfera Serena con Velas e Incienso",
    body: "Enciende la vela y el incienso para establecer una atmósfera serena. Mientras lo haces, establece una intención clara de transmutar tus prendas, permitiendo que te acompañen en nuevas experiencias y aventuras.",
    imageSrc: starterKitImage5.src,
    imageAlt: "",
  },
  {
    title: "Purifica tus Prendas con Amatista",
    body: "Pasa tu amatista por todas tus prendas, visualizando cómo su energía alquimiza y purifica cada una de ellas. Siéntete libre de tocarlas y sostenerlas mientras te conectas con su nueva vibración.",
    imageSrc: starterKitImage4.src,
    imageAlt: "",
  },
  {
    title: "Finaliza con Gratitud y Paz Interior",
    body: "Agradece a las energías universales, a tus prendas y a ti mismo por este proceso de sanación y renovación. Tómate un momento para respirar profundamente y sentirte en paz antes de continuar con tu día.",
    imageSrc: starterKitImage2.src,
    imageAlt: "",
  },
]
---

<Layout>
  <SectionContainer>
    <TextContainer class="mb-12">
      <h2>como activar mi kit</h2>
      <h3>
        Para usar nuestro Kit de Sanación y Activación de prendas, sigue estos
        sencillos pasos:
      </h3>
    </TextContainer>

    <ul class="flex flex-col gap-12">
      {stepsStarterKit.map(({ title, body, imageSrc, imageAlt }, index) => {
        return (
          <li class="border-4 border-amatista flex max-w-[840px] relative odd:flex-row-reverse even:ml-auto group items-center shadow-black/20 shadow-md">
            <TextContainer class="px-12 group-odd:pr-24 group-even:pl-24">
              <h3>{title}</h3>
              <p>{body}</p>
            </TextContainer>
            <div class="w-[300px] h-[300px] aspect-square bg-green-300">
              <img
                src={imageSrc}
                alt={imageAlt}
                width="300"
                height="300"
                class="object-cover object-center w-full h-auto aspect-square"
              />
            </div>
            <div class="bg-amatista w-[100px] aspect-square rounded-full absolute top-1/2 -translate-y-1/2 group-odd:translate-x-1/2 group-even:-translate-x-1/2 shadow-black/20 shadow-md" >
              <p class="text-white text-5xl flex h-full items-center justify-center font-bold font-lora">{index + 1}</p>
            </div>
          </li>
        )
      })}
    </ul>

    <div class="flex justify-center mt-20">
      <ContactButton>contactame</ContactButton>
    </div>
  </SectionContainer>

  <!-- TODO -->
  <SectionContainer>
    <div class="grid grid-rows-9 grid-cols-11 gap-x-12 gap-y-12">
      <div class="row-start-1 col-start-4 col-span-5 row-span-1 w-full h-full">
        <TextContainer class="flex justify-center"
          ><h2>usos de la AMATISTA</h2>
        </TextContainer>
      </div>
      <div
        class="row-start-1 col-start-1 col-span-3 row-span-4 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>Meditación</h3>
          <p>
            Coloca una amatista en tu espacio de meditación o sostén una en tus
            manos mientras meditas para aumentar la claridad mental y la
            conexión espiritual.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-1 col-start-9 col-span-3 row-span-4 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>Protección</h3>
          <p>
            Lleva una amatista contigo o colócala en tu hogar para protegerte de
            energías negativas y promover un ambiente de paz y armonía.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-4 col-start-1 col-span-3 row-span-4 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>Mejora del sueño</h3>
          <p>
            Coloca una amatista bajo tu almohada o en tu mesita de noche para
            promover un sueño reparador y combatir el insomnio.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-4 col-start-9 col-span-3 row-span-4 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>Concentración</h3>
          <p>
            Mantén una amatista cerca de tu espacio de trabajo o estudio para
            mejorar la concentración y la capacidad de enfoque.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-7 col-start-3 col-span-3 row-span-3 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>Alivio del estrés</h3>
          <p>
            Sostén una amatista en momentos de estrés o ansiedad para ayudar a
            calmar la mente y encontrar la serenidad interior.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-7 col-start-7 col-span-3 row-span-3 w-full h-auto aspect-square"
      >
        <TextContainer>
          <h3>cuida tu amatista</h3>
          <p>
            Recuerda limpiar y recargar tu amatista regularmente, ya sea con
            agua y sal marina, luz solar o luna llena, para mantener sus
            propiedades energéticas.
          </p>
        </TextContainer>
      </div>
      <div
        class="row-start-2 col-start-4 col-span-5 row-span-5 w-full h-auto aspect-square"
      >
        <div
          style=`background-image: url(${amatistasImg.src});`
          class="w-full h-full aspect-square bg-center bg-cover"
        >
        </div>
      </div>
    </div>
  </SectionContainer>
</Layout>
